!!!
%html
  %head
    = partial :head
  %body
    = partial :header
    -if data.page.title == "main"
    -else 
      .wrapper_full.header_title 
        .limited_content
          .you_head_title
            %h2= data.page.header
    .wrapper_full
      = yield
    = partial :footer
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"}
    = javascript_include_tag "x"
